.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 14px;
}

.input {
    width: 320px;
    padding: 8px 10px;
    border: 1px solid #222;
    border-radius: 4px;
    outline: none;
}